.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.body {
  background-color: rgba(66, 0, 0, 0);
  font-family: noka, sans-serif;
  color: #420000;
}

.navbar1_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar1_dropdown-link {
  padding: 0.5rem 1rem;
}

.navbar1_dropdown-link.w--current {
  color: transparent;
}

.navbar1_menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar1_menu-button {
  padding: 0rem;
}

.navbar1_dropdown-list.w--open {
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
}

.navbar1_menu-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: #420000;
  color: #fff;
}

.navbar1_dropdown-toggle {
  padding: 0.5rem 2.5rem 0.5rem 1rem;
}

.button {
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  background-color: #420000;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.button:hover {
  background-color: #ad6464;
}

.button.is-secondary {
  border-color: #420000;
  border-radius: 0px;
  background-color: transparent;
}

.button.is-secondary.override {
  color: #420000;
}

.button.is-secondary.override:hover {
  border-width: 2px;
  border-color: #ad6464;
  color: #ad6464;
}

.button.is-small {
  padding: 0.5rem 1.25rem;
  color: #fff;
  font-size: 16px;
}

.button.is-small:hover {
  background-color: #ad6464;
}

.button.is-link {
  padding: 0.25rem 0rem;
  border-style: none;
  background-color: transparent;
  color: transparent;
  line-height: 1;
  text-decoration: none;
}

.button.is-link.is-icon {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.button.is-secondary {
  background-color: transparent;
  color: transparent;
}

.navbar1_component {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(66, 0, 0, 0.26);
  background-color: #fff;
}

.dropdown-icon {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  margin-top: auto;
  margin-right: 1rem;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar1_logo-link {
  padding-left: 0px;
}

.navbar1_link {
  padding: 0.5rem 1rem;
  font-size: 16px;
}

.navbar1_link:hover {
  color: #ad6464;
}

.navbar1_link.w--current {
  color: #420000;
  font-weight: 600;
  text-decoration: underline;
  white-space: normal;
}

.padding-bottom {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.footer4_logo-link {
  padding-left: 0px;
}

.footer4_credit-text {
  font-size: 0.875rem;
}

.footer4_bottom-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.footer4_link-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: start;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0px;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.padding-top {
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.footer4_legal-link {
  font-size: 0.875rem;
  text-decoration: underline;
}

.footer4_social-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.footer4_social-list {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.padding-global {
  position: static;
  height: 100vh;
  padding-right: 5%;
  padding-left: 5%;
  -o-object-fit: fill;
  object-fit: fill;
}

.padding-global.main-desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
}

.social-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer4_top-wrapper {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 4vw;
  -ms-grid-columns: 0.25fr 1fr 0.25fr;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer4_link {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.line-divider {
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.container-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.padding-vertical {
  padding-right: 0rem;
  padding-left: 0rem;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.form-checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 1.25rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.success-text {
  font-weight: 600;
}

.contact3_component {
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section_contact3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form-checkbox-label {
  margin-bottom: 0px;
}

.text-style-link {
  text-decoration: underline;
}

.text-size-medium {
  font-size: 1.125rem;
  line-height: 1.4;
}

.field-label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.error-message {
  margin-top: 1.5rem;
  padding: 0.875rem 1rem;
}

.max-width-medium {
  width: 100%;
  max-width: 35rem;
}

.form-checkbox-icon {
  width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  min-width: 1.125rem;
  margin-top: 0px;
  margin-right: 0.5rem;
  margin-left: -1.25rem;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.form-checkbox-icon.w--redirected-checked {
  border-width: 1px;
  border-color: #000;
  background-color: #000;
  background-size: 16px 16px;
  box-shadow: none;
}

.form-checkbox-icon.w--redirected-focus {
  border-color: #000;
  box-shadow: none;
}

.contact3_form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.form-field-wrapper {
  position: relative;
}

.form-input {
  height: auto;
  min-height: 4rem;
  margin-bottom: 0px;
  padding: 0.5rem 0.75rem;
  border: 1px solid transparent;
  background-color: transparent;
  color: #420000;
  font-size: 1rem;
  line-height: 1.6;
}

.form-input:focus {
  border-color: #000;
}

.form-input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-input.is-text-area {
  overflow: auto;
  height: auto;
  min-height: 11.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #420000;
}

.form-input.is-select-input {
  background-image: none;
}

.error-text {
  color: #e23939;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.success-message {
  padding: 1.5rem;
  background-color: transparent;
}

.text-weight-semibold {
  font-weight: 600;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image {
  position: absolute;
  margin-top: 33px;
}

.section-2 {
  background-color: #fff;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffbfb;
}

.heading {
  max-width: 868px;
  margin-top: auto;
  font-size: 48px;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
}

.heading.left {
  text-align: left;
}

.scroll-indicator {
  position: static;
  max-height: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.section_header23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.margin-top {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.margin-top.margin-medium {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.container-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #420000;
  color: #fff;
  font-size: 1rem;
}

.button-group.is-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-4.scroll2 {
  padding-top: 2rem;
  padding-bottom: 0%;
}

.header36_image {
  width: 100%;
  height: 100vh;
  max-height: 60rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.header36_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.header36_content {
  max-width: 35rem;
  margin-right: 5rem;
  margin-left: 5vw;
}

.header1_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.header1_image {
  width: 100%;
  height: 100%;
}

.background-holder {
  position: relative;
  z-index: -999;
  opacity: 0;
}

.layout349_mobile-image {
  position: absolute;
  width: 100%;
}

.layout349_mobile-image-wrapper {
  display: none;
}

.layout349_content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.layout349_component {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.icon-embed-xxsmall {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.layout349_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.background-layer {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.background-layer.background-color-4 {
  background-color: #fff;
}

.background-layer.background-color-3 {
  background-color: rgba(131, 55, 55, 0.1);
}

.background-layer.background-color-2 {
  background-color: #fff;
}

.background-layer.background-color-1 {
  background-color: rgba(66, 0, 0, 0.1);
}

.layout349_desktop-image-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.layout349_image {
  position: absolute;
  width: 100%;
}

.heading-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

.sign {
  position: absolute;
  top: 158px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.layout156_component {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.layout156_image {
  width: 100%;
  height: 100%;
}

.layout156_image-wrapper {
  max-width: 80%;
}

.container-large-2 {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.div-block {
  position: static;
  z-index: 5;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-below {
  font-size: 18px;
  font-weight: 500;
}

.below {
  margin-top: 68px;
}

.section_cta7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(66, 0, 0, 0.05);
}

.cta7_button-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.padding-section-large-2 {
  padding-top: 7rem;
  padding-bottom: 0rem;
}

.cta7_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.cta7_content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.padding-global-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding-right: 5%;
  padding-left: 5%;
}

.container-large-3 {
  width: 100%;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body-2 {
  font-family: noka, sans-serif;
  color: #420000;
}

.about {
  font-family: noka, sans-serif;
  color: #420000;
}

.layout3_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1.75fr;
  grid-template-columns: 1fr 1.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.layout3_image {
  width: 100%;
  height: 100%;
}

.padding-global-4 {
  width: 100%;
  max-width: 1200px;
}

.container-large-4 {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
}

.layout1_image {
  width: 100%;
  height: 100%;
}

.layout1_image-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-size-medium-2 {
  font-size: 1rem;
  line-height: 1.4;
}

.section_layout1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-top: 4rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.layout1_component {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 3.75rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 0.5fr 0.75fr;
  grid-template-columns: 0.5fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-size: 38px;
}

.head-sub {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 868px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.75rem;
  line-height: 1.4;
  font-weight: 500;
}

.head-sub.below {
  margin-top: 0px;
  font-size: 1.25rem;
}

.head-wrapp {
  position: absolute;
}

.sign-wrapper {
  margin-top: -9rem;
  margin-bottom: 8rem;
  padding-top: 1rem;
}

.sign-wrapper.confirmation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5.3rem;
  margin-bottom: 0rem;
  padding-top: 0rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.layout349_desktop-image-wrapper-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.layout349_component-2 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-size-medium-3 {
  font-size: 1.125rem;
  line-height: 1.4;
}

.top-sign {
  margin-top: -28px;
  margin-bottom: -81px;
  padding-bottom: 0px;
}

.image-2 {
  max-width: 8rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.heading-copy {
  max-width: 868px;
  margin-top: auto;
  font-size: 48px;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
}

.buttom-sign {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: -91px;
  padding-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.siff {
  max-width: 60%;
  -o-object-fit: fill;
  object-fit: fill;
}

.padding-section-large-4 {
  padding-top: 7rem;
  padding-bottom: 0rem;
}

.button-group-linkedin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #420000;
  color: #fff;
  font-size: 1rem;
}

.button-group-linkedin.is-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.body-3 {
  font-family: noka, sans-serif;
  color: #420000;
}

.padding-section-large-5 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.contact4_form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.form-field-2col {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.form-radio-label {
  margin-bottom: 0px;
}

.form-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding-left: 1.125rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-2 {
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  color: transparent;
  text-align: center;
}

.form-radio-2col {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0.875rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.contact4_component {
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form-radio-icon {
  width: 1.125rem;
  height: 1.125rem;
  min-height: 1.125rem;
  min-width: 1.125rem;
  margin-top: 0px;
  margin-right: 0.5rem;
  margin-left: -1.125rem;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
}

.form-radio-icon.w--redirected-checked {
  border-width: 6px;
  border-color: #000;
  background-color: #fff;
  background-image: none;
}

.form-radio-icon.w--redirected-focus {
  margin-top: 0px;
  border-color: #000;
  box-shadow: none;
}

.text-size-medium-4 {
  font-size: 1.125rem;
}

.grid {
  position: relative;
  width: 100%;
  grid-column-gap: 95px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.column-wrapper {
  display: block;
  max-width: 1200px;
  margin-right: 5%;
  margin-left: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.125rem;
}

.foot-link {
  color: #ad6464;
}

.foot-link.w--current {
  color: #420000;
  line-height: 1.4;
  text-decoration: none;
}

.footer-text {
  font-size: 1rem;
  line-height: 1.4;
}

.gallery20_arrow {
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  height: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 100%;
  background-color: transparent;
}

.gallery20_arrow.is-left {
  right: 4rem;
}

.gallery20_slide-nav {
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  height: 1.75rem;
  font-size: 0.5rem;
}

.gallery20_slide {
  padding-right: 2rem;
}

.gallery20_mask {
  overflow: visible;
}

.gallery20_slider {
  height: auto;
  padding-bottom: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.padding-global-6 {
  padding-right: 5%;
  padding-left: 5%;
}

.gallery20_image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.section_gallery20 {
  overflow: hidden;
}

.gallery20_image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.message-area {
  min-height: 6rem;
  margin-bottom: 2rem;
  border: 1px solid #420000;
}

.message-area:hover {
  border-bottom: 3px solid #c8c8c8;
}

.message-area:focus {
  border-style: solid;
  border-color: #ad6464;
  border-bottom-width: 3px;
}

.input-field {
  min-height: 3rem;
  margin-bottom: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: #420000;
}

.input-field:hover {
  border-bottom: 3px solid #c8c8c8;
}

.input-field:focus {
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: #ad6464;
}

.input-field:focus-visible {
  border-bottom: 3px solid #ad6464;
}

.input-field[data-wf-focus-visible] {
  border-bottom: 3px solid #ad6464;
}

.recaptcha {
  margin-bottom: 1rem;
}

.friendly-text {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  line-height: 1.4;
}

.friendly-text.small {
  width: 60%;
}

.link-intext {
  color: #ad6464;
  text-decoration: none;
}

.image-3 {
  margin-top: -201px;
}

.viewport {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 991px) {
  .menu-icon1_line-middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #420000;
  }

  .navbar1_container {
    position: -webkit-sticky;
    position: sticky;
  }

  .navbar1_dropdown-link {
    width: auto;
    padding: 0.75rem 0rem 0.75rem 5%;
  }

  .navbar1_menu {
    position: absolute;
    overflow: auto;
    padding: 1rem 5% 2rem;
    border-bottom: 1px solid #000;
    background-color: transparent;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
  }

  .navbar1_menu.is-page-height-tablet {
    height: 100vh;
    padding-bottom: 15rem;
    background-color: #fff5f5;
  }

  .menu-icon1_line-bottom {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #420000;
  }

  .navbar1_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }

  .navbar1_menu-button.w--open {
    background-color: transparent;
  }

  .menu-icon1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 48px;
    height: 48px;
    margin-right: -0.5rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar1_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .navbar1_dropdown-list.w--open {
    padding: 0px;
    border-style: none;
  }

  .navbar1_menu-buttons {
    margin-top: 1.5rem;
    margin-left: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .navbar1_dropdown-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-icon1_line-top {
    width: 24px;
    height: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #420000;
  }

  .navbar1_component {
    position: fixed;
  }

  .dropdown-icon {
    left: auto;
    top: auto;
    right: 0%;
    bottom: auto;
    margin-top: 0rem;
    margin-right: 0px;
    margin-bottom: 0rem;
  }

  .navbar1_link {
    width: auto;
    padding: 0.75rem 0rem;
    font-size: 1.125rem;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #420000;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .footer4_top-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .heading {
    display: block;
    font-size: 38px;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .container-4.scroll2 {
    max-height: 0.1px;
  }

  .header36_image {
    height: auto;
    max-height: none;
  }

  .header36_component {
    min-height: auto;
    padding-top: 6rem;
    grid-auto-flow: row;
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header36_content {
    margin-right: 5%;
    margin-left: 5%;
  }

  .header1_component {
    min-height: auto;
    grid-auto-flow: row;
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .layout349_component {
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
  }

  .section_cta7 {
    height: 12.5rem;
    margin-top: 5rem;
  }

  .cta7_button-row {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .padding-section-large-2 {
    padding-top: 6rem;
  }

  .cta7_component {
    grid-column-gap: 3rem;
  }

  .layout3_component {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .padding-global-4 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .text-size-medium-2 {
    font-size: 1rem;
  }

  .layout1_component {
    min-height: auto;
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    grid-auto-flow: row;
    grid-column-gap: 1rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .heading-3 {
    margin-bottom: 6px;
    font-size: 30px;
  }

  .temi-photo {
    max-width: 100%;
  }

  .sign-wrapper {
    margin-top: -6.8rem;
  }

  .sign-wrapper.confirmation {
    width: 805px;
    margin-top: -2.2rem;
  }

  .layout349_component-2 {
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .top-sign {
    margin-top: -31px;
    margin-bottom: 0px;
  }

  .heading-copy {
    display: block;
    font-size: 38px;
  }

  .buttom-sign {
    max-height: 0.1px;
    margin-top: -140px;
    margin-bottom: 0px;
  }

  .padding-section-large-4 {
    padding-top: 0rem;
  }

  .padding-section-large-5 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .grid {
    justify-items: start;
    grid-column-gap: 21px;
  }

  .form-wrapper {
    width: 100%;
  }

  .footer {
    padding-bottom: 1.5rem;
  }

  .footer-text {
    font-size: 1rem;
  }

  .message-area {
    width: 100%;
  }

  .input-field {
    width: 100%;
  }

  .friendly-text {
    font-size: 2.5rem;
  }

  .friendly-text.small {
    width: 100%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .button {
    width: 100%;
  }

  .button.small {
    width: auto;
  }

  .navbar1_component {
    height: auto;
    min-height: 4rem;
  }

  .navbar1_logo-link {
    padding-left: 0px;
  }

  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .footer4_credit-text {
    margin-top: 1rem;
  }

  .footer4_bottom-wrapper {
    justify-items: center;
    grid-auto-flow: row;
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
  }

  .footer4_link-list {
    justify-items: center;
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-medium {
    font-size: 1rem;
  }

  .heading {
    padding-right: 16px;
    padding-left: 16px;
    font-size: 32px;
    text-align: left;
  }

  .heading.left {
    padding-right: 0px;
    padding-left: 0px;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .header36_component {
    padding-top: 4rem;
  }

  .header1_component {
    grid-row-gap: 3rem;
  }

  .layout349_mobile-image {
    position: static;
  }

  .layout349_mobile-image-wrapper {
    display: block;
    width: 100%;
    margin-top: 2.5rem;
  }

  .layout349_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .layout349_content {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .layout349_desktop-image-wrapper {
    display: none;
  }

  .heading-2 {
    font-size: 2rem;
  }

  .hero {
    height: 100vh;
  }

  .heading-wrapper {
    margin-top: 30vh;
  }

  .section_cta7 {
    height: 18rem;
    margin-top: 63px;
    margin-bottom: 72px;
  }

  .cta7_button-row {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .padding-section-large-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cta7_component {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    grid-row-gap: 0.75rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .layout3_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .text-size-medium-2 {
    font-size: 1rem;
  }

  .layout1_component {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .head-sub {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .sign-wrapper {
    max-width: 1px;
    margin-top: 0.8rem;
  }

  .layout349_desktop-image-wrapper-2 {
    display: none;
  }

  .layout349_component-2 {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .text-size-medium-3 {
    font-size: 1rem;
  }

  .top-sign {
    margin-top: -20px;
  }

  .image-2 {
    max-width: 5rem;
  }

  .heading-copy {
    padding-right: 16px;
    padding-left: 16px;
    font-size: 36px;
  }

  .siff {
    height: 0.5px;
  }

  .heading-4 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1.5rem;
  }

  .padding-section-large-5 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .form-field-2col.is-mobile-1col {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .text-size-medium-4 {
    font-size: 1rem;
  }

  .grid {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer {
    margin-top: 62px;
  }

  .foot-link.w--current {
    font-size: 0.9rem;
  }

  .gallery20_arrow.is-left {
    right: 3.5rem;
  }

  .gallery20_slide {
    padding-right: 1.5rem;
  }

  .message-area {
    min-width: 90vw;
  }

  .friendly-text {
    font-size: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .padding-bottom {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .padding-top {
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
  }

  .padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .heading {
    font-size: 28px;
    text-align: left;
  }

  .margin-top {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .header36_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .header1_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .layout349_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .layout349_content {
    height: auto;
  }

  .section_cta7 {
    height: 18rem;
  }

  .padding-section-large-2 {
    padding-top: 5rem;
  }

  .layout3_component {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .layout1_component {
    -webkit-box-align: start;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .head-sub {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }

  .layout349_component-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .top-sign {
    max-width: 0.1px;
  }

  .heading-4 {
    margin-top: 1rem;
  }

  .foot-link.w--current {
    text-align: center;
  }

  .footer-text {
    text-align: center;
  }
}

#w-node-e3e9ab5b-2c09-8146-4663-6aa8fe0b37d6-d98a4b3e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_747f89ec-c06b-faf3-101e-8ed18268302c-d98a4b3e {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_44dbab4e-d0e6-8941-1502-1414987070e3-fab2c294 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b0bb99f0-fc91-e386-b3b3-91b10dd3fbe1-305c4749 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bb4b0370-9ec3-de15-11e8-af10e4f1a055-b53d6a02 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bb4b0370-9ec3-de15-11e8-af10e4f1a061-b53d6a02 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2027455-3a2b-6c3a-9158-cc9a207da190-46d936f1 {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_044b083d-5fd3-2523-a084-8e6bb754d1f7-557ed6cd {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_044b083d-5fd3-2523-a084-8e6bb754d208-557ed6cd {
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_36270f17-194b-6590-0f73-c414678716aa-9fb8b746 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-da307908-8ae0-6b2a-4d6b-dd11470a97c3-1cd2955b {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

