.w-form-formrecaptcha {
  margin-bottom: 8px;
}

.body {
  font-family: noka, sans-serif;
  color: #420000;
  font-weight: 300;
}

.heading {
  max-width: 868px;
  padding-top: 220px;
  padding-bottom: 290px;
  font-size: 48px;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
}

.section {
  background-color: #fffbfb;
}

.brand {
  position: relative;
  margin-top: 16px;
}

.navbar {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(66, 0, 0, 0.22);
  background-color: #fffbfb;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fffbfb;
}

.container-4 {
  max-width: 1200px;
}

.scroll-indicator {
  max-width: 60px;
}

.section-2 {
  background-color: #fff;
}

.heading-2 {
  font-size: 50px;
  text-align: center;
}

.category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 0px;
  max-width: 1200px;
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  position: absolute;
  margin-top: 33px;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fffbfb;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading-3 {
  margin-bottom: 17px;
  font-size: 48px;
  font-weight: 600;
}

.paragraph {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 300;
}

.text-block {
  padding: 0px;
  font-size: 20px;
  font-weight: 500;
}

.div-block {
  max-width: 90%;
}

.nav-link {
  line-height: 1.4;
  text-align: left;
}

.nav-link.button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  background-color: #420000;
  color: #fff;
}

